* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: 'Lato', sans-serif;
  background: #1c233c;
}
h1 {
  text-transform: uppercase;
  color: #f9f9f9;
}
a {
  text-decoration: none;
  color: #f9f9f9;
  display: flex;
  align-items: center;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.fil0 {
  fill: #f9f9f9;
  transition: fill 0.3s linear;
}
.fil1 {
  fill: #1c233c;
  fill-rule: nonzero;
}
.logo {
  width: 60%;
  height: 60%;
}
i {
  color: #f9f9f9;
  margin-right: 10px;
}
.instagram {
  display: flex;
  align-items: center;
}
